<%= form_for(@ituneship) do |f| %>
  <% if @ituneship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ituneship.errors.count, "error") %> prohibited this ituneship from being saved:</h2>

      <ul>
      <% @ituneship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.select :band_id, Band.all.collect { |p| [ p.name, p.id ] } %>
  </div>
  <div class="field">
    <%= f.select :fan_id, Fan.all.collect { |p| [ p.name, p.id ] } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
