<h1>Listing ituneships</h1>

<table>
  <tr>
    <th>Band</th>
    <th>Fan</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ituneships.each do |ituneship| %>
  <tr>
    <td><%= ituneship.band.name %></td>
    <td><%= ituneship.fan.name %></td>
    <td><%= link_to 'Show', ituneship %></td>
    <td><%= link_to 'Edit', edit_ituneship_path(ituneship) %></td>
    <td><%= link_to 'Destroy', ituneship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ituneship', new_ituneship_path %>
